.hero {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: url("../../assets/hero-bg.webp") no-repeat 25% 15% fixed;
  background-size: cover;
  position: relative;
}

.bg-video {
  position: fixed;
  left: 0;
  top: 0;
  background-size: cover;
  background: no-repeat center;
  /* margin-left: 50vw; */
  user-select: none;
  pointer-events: none;

  /*custom styles, for example grayscale appearance*/
  filter: grayscale(0.8);

  /*additional tweaks for positioning, read more in the link above*/
  height: 100%;
  width: 177.77777778vh; /* 100 * 16 / 9 */
  min-width: 100%;
  min-height: 56.25vw; /* 100 * 9 / 16 */
}

.container {
  width: 50%;
  max-width: 1450px;
  margin: 0 auto;
}

.container section {
  position: relative;
}

.hero-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  height: auto;
}

.hero-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, #1e0e60a7 0%, #066399bd 100%);
  filter: brightness(0.6);
}

.hero-header {
  color: var(--text-white);
  text-transform: uppercase;
  font-size: 6vh;
  font-style: normal;
  font-weight: 500;
  line-height: 104.96%;
  width: 730px;
  max-width: 60vw;
  position: relative;
  animation: slide-left 2s ease-in-out;
}

.text {
  position: absolute;
  width: 700px;
  max-width: 60vw;
  left: 5vw;
  bottom: -12vh;
  color: var(--text-white);
  font-size: 2.5vh;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  animation: slide-right 2s ease-in-out;
}

.grids {
  display: grid;
  grid-template-columns: 7vw 15vw 25vw 6vw 20vw 8vw 6vw 9vw 4vw;
  grid-template-rows: 18vh 9vh 58vh 15vh;
}

.grid {
  border: 1px solid #ffffff14;
  animation: boxes 6s ease-in infinite;
  background-color: #ffffff;
  opacity: 0.1;
}

.grid:nth-child(2) {
  animation-delay: 2s;
}

.grid:nth-child(3) {
  animation-delay: 4s;
}

.grid:nth-child(4) {
  animation-delay: 6s;
}

.grid:nth-child(5) {
  animation-delay: 8s;
}

.grid:nth-child(6) {
  animation-delay: 10s;
}

.grid:nth-child(8) {
  animation-delay: 2s;
}

.grid:nth-child(9) {
  animation-delay: 4s;
}

.grid:nth-child(10) {
  animation-delay: 6s;
}

.grid:nth-child(11) {
  animation-delay: 8s;
}

.grid:nth-child(12) {
  animation-delay: 10s;
}

.grid:nth-child(13) {
  animation-delay: 2s;
}

.grid:nth-child(14) {
  animation-delay: 4s;
}

.grid:nth-child(15) {
  animation-delay: 6s;
}

.grid:nth-child(16) {
  animation-delay: 8s;
}

.grid:nth-child(17) {
  animation-delay: 10s;
}

.grid:nth-child(18) {
  animation-delay: 2s;
}

.grid:nth-child(19) {
  animation-delay: 4s;
}

.grid:nth-child(20) {
  animation-delay: 6s;
}

.grid:nth-child(21) {
  animation-delay: 8s;
}

.grid:nth-child(22) {
  animation-delay: 10s;
}

.grid:nth-child(23) {
  animation-delay: 2s;
}

.grid:nth-child(24) {
  animation-delay: 4s;
}

.grid:nth-child(25) {
  animation-delay: 6s;
}

.grid:nth-child(26) {
  animation-delay: 8s;
}

.grid:nth-child(27) {
  animation-delay: 10s;
}

.grid:nth-child(28) {
  animation-delay: 2s;
}

.grid:nth-child(29) {
  animation-delay: 4s;
}

.grid:nth-child(30) {
  animation-delay: 6s;
}

.grid:nth-child(31) {
  animation-delay: 8s;
}

.grid:nth-child(32) {
  animation-delay: 10s;
}

.grid:nth-child(33) {
  animation-delay: 2s;
}

.grid:nth-child(34) {
  animation-delay: 4s;
}

.grid:nth-child(35) {
  animation-delay: 6s;
}

.grid:nth-child(36) {
  animation-delay: 6s;
}

@keyframes boxes {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.1;
  }
}

@media screen and (max-width: 800px) {
  .img-background {
    height: 100vh;
    width: 100vw;
  }

  .container {
    width: 80%;
  }

  .container section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
  }

  .hero-header {
    font-size: 1.75rem;
    text-align: center;
    max-width: 90vw;
    animation: slide-up 2s ease-in-out;
  }

  .text {
    font-size: 1rem;
    text-align: center;
    position: static;
    max-width: 65vw;
    animation: slide-down 2s ease-in-out;
  }

  img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 70%;
    object-position: 70%;
    margin-top: -1px;
  }

  .grids {
    display: none;
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    filter: blur(4px);
    transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0px);
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
    filter: blur(4px);
    transform: translateX(150px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0px);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    filter: blur(4px);
    transform: translateY(-30px);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0px);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    filter: blur(4px);
    transform: translateY(30px);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0px);
  }
}
