.investors {
  padding: 5vh 0;
  height: 100vh;
}

.container {
  width: 60%;
  max-width: 1450px;
  margin: 0 auto;
}

.investors__header {
  color: var(--text-white);
  font-size: 6.5vh;
  font-style: normal;
  font-weight: 500;
  line-height: 104.96%; /* 73.472px */
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.investors__description {
  width: 70%;
  font-size: 3.25vh;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 36px */
  text-transform: uppercase;
  color: #01c5ff;
  background-image: -webkit-linear-gradient(315deg, #01c5ff 53%, #01e9f8 88%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10vh;
}

.investors__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(500px, 40vw));
  place-items: center;
  row-gap: 70px;
  position: relative;
  justify-items: start;
}

.investor {
  width: 25vw;
}

.investor__img {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.investor__description {
  text-decoration: none;
  color: #01c5ff;
  background-image: -webkit-linear-gradient(
    315deg,
    #01c4ff7b 53%,
    #01e8f87e 88%
  );
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.investor__description:hover {
  background-image: -webkit-linear-gradient(315deg, #01c5ff 53%, #01e9f8 88%);
}

@media (min-width: 1024px) and (max-width: 1536px) {
  .investor {
    width: auto;
  }

  .investors {
    padding: 5vh 0;
    margin-bottom: 10vh;
  }

  .investors__header {
    margin: 0;
  }

  .investors__grid {
    grid-template-columns: repeat(2, minmax(250px, 30vw));
    gap: 35px;
  }

  .investor__img {
    width: 85%;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 80%;
  }

  .investor {
    width: auto;
  }

  .investors {
    padding: 7vh 0;
    height: auto;
  }

  .investors__grid {
    grid-template-columns: minmax(250px, 30vw);
    justify-content: center;
    row-gap: 35px;
  }

  .investors__header {
    margin-bottom: 0;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 104.96%;
    text-align: center;
  }

  .investors__description {
    width: 100%;
    text-align: center;
    margin-top: 3vh;
  }

  .investor__description {
    font-size: 1rem;
    text-align: center;
    width: 100%;
    margin-top: 2vh;
    color: #01c5ff;
    background-image: -webkit-linear-gradient(315deg, #01c5ff 53%, #01e9f8 88%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  }

  .investor__description:hover {
    color: #01c5ff;
    background-image: -webkit-linear-gradient(315deg, #01c5ff 53%, #01e9f8 88%);
  }

  .investor__img {
    width: 100%;
  }

  .investor + .investor {
    margin-top: 3vh;
  }
}
