.app {
  height: 100vh;
  margin: 0;
  padding: 10vh 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: url("../../assets/app-bg.webp") no-repeat 25% 0% fixed;
  background-size: cover;
  position: relative;
}

.container {
  width: 60%;
  max-width: 1450px;
  margin: 0 auto;
}

.app-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, #1e0e60a7 0%, #066399bd 100%);
  filter: brightness(0.6);
}

.row {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.app__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app__header {
  color: var(--text-white);
  font-size: 6.5vh;
  font-style: normal;
  font-weight: 500;
  line-height: 104.96%; /* 73.472px */
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.app__description {
  font-size: 3.25vh;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 36px */
  text-transform: uppercase;
  color: #01c5ff;
  background-image: -webkit-linear-gradient(315deg, #01c5ff 53%, #01e9f8 88%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.app__text {
  color: var(--text-white);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 1.62vh;
  margin: 1rem 0;
}

.app__img {
  width: 40vw;
  height: 40vw;
}

@media (min-width: 1280px) and (max-width: 1536px) {
  .app__header {
    font-size: 3rem;
  }

  .app__description {
    font-size: 1.5rem;
  }

  .app__text {
    font-size: 0.85rem;
    width: 90%;
  }

  .app__img {
    width: 35vw;
    height: 35vw;
  }
}

@media screen and (max-width: 800px) {
  .app {
    display: block;
    padding: 7vh 0;
  }

  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  .app__header {
    font-size: 2rem;
    text-align: center;
  }

  .app__description {
    font-size: 1rem;
    text-align: center;
  }

  .app__text {
    font-size: 0.85rem;
    text-align: center;
  }

  .app__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
  }

  .app__img {
    width: auto;
    height: 50vh;
  }
}
