.app {
  height: 100vh;
  margin: 0;
  padding: 10vh 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: url("../../assets/app-bg.webp") no-repeat 25% 0% fixed;
  background-size: cover;
  position: relative;
}

.container {
  width: 65%;
  max-width: 1450px;
  margin: 0 auto;
}

.app-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, #1e0e60a7 0%, #066399bd 100%);
  filter: brightness(0.6);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.app__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app__header {
  color: var(--text-white);
  font-size: 6.5vh;
  font-style: normal;
  font-weight: 500;
  line-height: 104.96%; /* 73.472px */
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

.app__description {
  font-size: 3.25vh;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 36px */
  text-transform: uppercase;
  color: #01c5ff;
  background-image: -webkit-linear-gradient(315deg, #01c5ff 53%, #01e9f8 88%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2.5rem;
}

.app__features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: var(--text-white);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 1.62vh;
  margin: 1rem 0;
}

.app__features .app__unit {
  animation: FadeIn 1s linear;
  animation-fill-mode: both;
}

.app__features .app__unit:nth-child(1) {
  animation-delay: 0.5s;
}
.app__features .app__unit:nth-child(2) {
  animation-delay: 1s;
}
.app__features .app__unit:nth-child(3) {
  animation-delay: 1.5s;
}
.app__features .app__unit:nth-child(4) {
  animation-delay: 2s;
}

.app__unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.app__unit img {
  width: auto;
  height: 10vh;
  margin-bottom: 20px;
  filter: hue-rotate(30deg) drop-shadow(0px 0px 15px #ffffff);
}

.app__unit img:hover {
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(150deg)
    drop-shadow(0px 0px 15px #01c5ff);
  -webkit-filter: invert(0.5) sepia(1) saturate(5) hue-rotate(150deg)
    drop-shadow(0px 0px 15px #01c5ff);
  -moz-filter: invert(0.5) sepia(1) saturate(5) hue-rotate(150deg)
    drop-shadow(0px 0px 15px #01c5ff);
}

.app__unit div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35px;
}

.app__img {
  width: 50%;
  height: 50%;
}

.app__link {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
}

@media (min-width: 1280px) and (max-width: 1536px) {
  .app__header {
    font-size: 3rem;
  }

  .app__description {
    font-size: 1.5rem;
  }

  .app__features {
    font-size: 0.85rem;
    width: 90%;
  }

  .app__img {
    width: 50%;
    height: 50%;
  }
}

@media screen and (max-width: 800px) {
  .app {
    display: block;
    padding: 7vh 0;
  }

  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  .app__header {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3vh;
  }

  .app__description {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 4vh;
  }

  .app__features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    color: var(--text-white);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 0.85rem;
    text-align: center;
    margin: 1rem 0;
  }

  .app__info {
    margin-bottom: 3vh;
  }

  .app__link {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
  }

  .app__unit img {
    width: auto;
    height: 7vh;
  }

  .app__img {
    width: auto;
    height: 40vh;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }

  85% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
