header {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  padding: 2rem 0;
  height: 20vh;
  z-index: 2;
  display: flex;
  width: 100vw;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 6;
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s;
}

.active {
  left: 0;
  visibility: visible;
  opacity: 1;
}

.logo {
  margin-left: 10vw;
  position: relative;
  z-index: 12;
}

.navigation {
  text-transform: capitalize;
  position: relative;
  width: 450px;
  height: 85%;
  padding-top: 30vh;
  padding-left: 8vw;
  transition: all 0.6s;
  z-index: 10;
}

.nav_link {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  list-style: none;
  text-align: left;
  margin-top: 3vh;
  color: var(--text-white);
  cursor: pointer;
  text-decoration: none;
  width: 120px;
  transition: all 1s ease;
}

.nav_link:hover {
  color: #01c5ff;
  background-image: -webkit-linear-gradient(315deg, #01c5ff 53%, #01e9f8 88%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.active-link,
.active-link:hover {
  color: #01c5ff;
  background-image: -webkit-linear-gradient(315deg, #01c5ff 53%, #01e9f8 88%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  transition: all 1s ease;
}

.media {
  position: relative;
  width: 450px;
  display: flex;
  align-items: center;
  padding-left: 8vw;
  gap: 10px;
  height: 15%;
}

.soc_link {
  list-style: none;
  width: 40px;
}

.soc_link img {
  margin: 0;
}

.burger-menu {
  position: fixed;
  top: 2vh;
  right: 2vh;
  height: 4em;
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 7;
  align-self: center;
  background: linear-gradient(
    90deg,
    rgba(1, 197, 255, 0.1) 0%,
    rgba(1, 233, 248, 0.1) 100%
  );
  border: 1px solid transparent;
  overflow: hidden;
}

.burger-menu::before,
.burger-menu::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: 1px solid transparent;
  width: 0;
  height: 0;
}
.burger-menu::before {
  top: 0;
  left: 0;
  border-top-color: #01c5ff;
  border-right-color: #01c5ff;
  animation: border 5s infinite;
}
.burger-menu::after {
  bottom: 0;
  right: 0;
  animation: border 5s 2.5s infinite, borderColor 5s 2.5s infinite;
}

@keyframes border {
  0% {
    width: 0;
    height: 0;
  }
  25% {
    width: 100%;
    height: 0;
  }
  50% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
@keyframes borderColor {
  0% {
    border-bottom-color: #01c5ff;
    border-left-color: #01c5ff;
  }
  50% {
    border-bottom-color: #01c5ff;
    border-left-color: #01c5ff;
  }
  51% {
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

.burger-bar {
  width: 2.5em;
  height: 0.25em;
  background-color: rgb(0, 183, 255);
  border-radius: 0.5em;
}

.burger-bar {
  width: 1.5rem;
  height: 1px;
}

.burger-bar + .burger-bar {
  margin-top: 0.5rem;
}

.hidden {
  display: none;
}

.visible {
  display: inherit;
}

.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0px, 15px);
  transition: ease-out 0.5s;
  width: 2.25em;
  margin-left: 20px;
}

.burger-bar.clicked:nth-child(2) {
  transform: scale(0);
  transition: ease-out 0.5s;
  margin-left: 20px;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(1px, 13px);
  transition: ease-out 0.5s;
  width: 2.25em;
  margin-left: 20px;
}

.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

@media screen and (max-width: 800px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    height: 20vh;
    width: 100vw;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header img {
    margin-left: 0;
  }

  .active {
    background: linear-gradient(
      90deg,
      rgba(21, 45, 81, 0.7) 0%,
      rgba(43, 60, 94, 0.7) 100%
    );
    backdrop-filter: blur(5px);
  }
}
