.modal {
  width: 50vw;
  height: 70vh;
  border: 1px solid transparent;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  position: fixed;
}

.modal::backdrop {
  background: linear-gradient(
    90deg,
    rgba(21, 45, 81, 0.7) 0%,
    rgba(43, 60, 94, 0.7) 100%
  );
  backdrop-filter: blur(10px);
}

.content {
  background: linear-gradient(
    271deg,
    rgb(37 90 169 / 70%) 0%,
    rgb(42 61 99 / 70%) 100%
  );
  width: 100%;
  display: flex;
}

.info {
  padding: 5vh;
}

.name {
  color: #01c5ff;
  background-image: -webkit-linear-gradient(315deg, #01c5ff 53%, #01e9f8 88%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 36px */
  text-transform: uppercase;
  font-size: 2rem;
}

.position {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 36px */
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 1vh;
}

.about {
  padding: 5vh 5vw;
}

.bio {
  color: #fff;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.bio + .bio {
  margin-top: 1vh;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

@media (min-width: 1024px) and (max-width: 1536px) {
  .modal {
    width: 60vw;
  }

  .content {
    height: 200px;
  }

  .name,
  .position {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 800px) {
  .modal {
    width: 90vw;
    height: 90vh;
    transform: translate(-50%, -50%);
  }
  .content {
    flex-direction: column;
    background: transparent;
  }

  .info {
    padding: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .name {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2vh;
  }

  .position {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 2vh;
  }

  .close img {
    width: 35px;
    background: linear-gradient(
      90deg,
      rgba(1, 197, 255, 0.1) 0%,
      rgba(1, 233, 248, 0.1) 100%
    );
    padding: 1vh;
  }

  .bio {
    text-align: center;
  }

  .about {
    padding-top: 0;
  }
}
