.operations {
  padding: 15vh 0 0 0;
  height: 100vh;
}

.container {
  width: 65%;
  max-width: 1450px;
  margin: 0 auto;
}

.operations__header {
  color: var(--text-white);
  font-size: 6.5vh;
  font-style: normal;
  font-weight: 500;
  line-height: 104.96%; /* 73.472px */
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.operations__description {
  width: 90%;
  font-size: 3.25vh;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 36px */
  text-transform: uppercase;
  color: #01c5ff;
  background-image: -webkit-linear-gradient(315deg, #01c5ff 53%, #01e9f8 88%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10vh;
}

.operations__block {
  display: flex;
  justify-content: space-between;
  gap: 1vw;
}

.operation__item {
  width: 280px;
  display: flex;
  flex-direction: column;
}

.operation__item:hover .operations__img {
  filter: opacity(1);
}

.operations__img {
  width: 165px;
  filter: opacity(0.6);
  height: 225px;
}

.operations__title {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  color: #01c5ff;
  background-image: -webkit-linear-gradient(315deg, #01c5ff 53%, #01e9f8 88%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2vh;
}
.operations__list {
  margin-top: auto;
  height: 100px;
  list-style: none;
}

.operations__list li {
  background-image: url("../../assets/bullet.svg");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  padding-left: 30px;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #fff;
  vertical-align: middle;
}

@media screen and (max-width: 800px) {
  .operations {
    padding: 5vh 0;
    height: auto;
  }
  .container {
    width: 80%;
    max-width: 1450px;
    margin: 0 auto;
  }

  .operations__header {
    font-size: 2rem;
    text-align: center;
  }

  .operations__description {
    font-size: 1rem;
    text-align: center;
    width: 100%;
  }

  .operations__block {
    display: grid;
    place-items: center;
    justify-content: center;
    gap: 10vh;
  }

  .operation__item {
    align-items: center;
  }

  .operations__title {
    text-align: center;
  }

  .operations__img {
    filter: opacity(1);
    height: auto;
    margin-bottom: 5vh;
  }
}
