.ourteam {
  padding: 10vh 0;
  height: 100vh;
}

.container {
  width: 60%;
  max-width: 1450px;
  margin: 0 auto;
}

.team__header {
  color: var(--text-white);
  font-size: 6.5vh;
  font-style: normal;
  font-weight: 500;
  line-height: 104.96%; /* 73.472px */
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.team__description {
  width: 70%;
  font-size: 3.25vh;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 36px */
  text-transform: uppercase;
  color: #01c5ff;
  background-image: -webkit-linear-gradient(315deg, #01c5ff 53%, #01e9f8 88%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.team {
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
  gap: 1vw;
}

.card {
  width: 220px;
  max-height: 420px;
  background: linear-gradient(
    90deg,
    rgba(21, 45, 81, 0.7) 0%,
    rgba(43, 60, 94, 0.7) 100%
  );
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  flex: 0 1 220px;
}

.card:hover .card__img {
  filter: opacity(1);
  transition: all 0.5s linear;
  background: none;
}

.card__img {
  width: 100%;
  filter: opacity(0.7);
}

.card__title {
  color: var(--h3-color);
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 120%;
  font-style: normal;
  margin: 2vh 0 0 2vh;
  color: #01c5ff;
  background-image: -webkit-linear-gradient(315deg, #01c5ff 53%, #01e9f8 88%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.card__title + .card__title {
  margin-top: 0;
}

.card__text {
  color: var(--text-white);
  margin: 2vh 0 1vh 2vh;
  font-weight: 300;
  font-size: 1rem;
  font-style: normal;
}

.card__link {
  margin: auto 0 1vh 2vh;
}

@media screen and (max-width: 800px) {
  .container {
    width: 80%;
    max-width: 1450px;
    margin: 0 auto;
  }

  .ourteam {
    height: auto;
    padding: 7vh 0;
  }

  .team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    gap: 1vw;
  }

  .team__header {
    margin-bottom: 0;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 104.96%;
    text-align: center;
  }

  .description-wrapper {
    display: grid;
    place-items: center;
    margin-top: 1.5vh;
  }

  .team__description {
    font-size: 1rem;
    text-align: center;
    width: 90%;
  }

  .card {
    width: 270px;
  }

  .card__title {
    font-size: 1rem;
  }

  .card__text {
    font-size: 0.75rem;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .card + .card {
    margin-top: 5vh;
  }

  .card:hover .card__img {
    filter: opacity(1);
    transition: all 0.5s linear;
    background: none;
  }

  .card__img {
    width: 100%;
    filter: opacity(1);
  }
}

@media (min-width: 1280px) and (max-width: 1536px) {
  .ourteam {
    padding: 5vh 0;
  }

  .team__header {
    margin-bottom: 0;
  }

  .team__description {
    width: 80%;
    margin-bottom: 2rem;
  }

  .card__title {
    margin: 2vh 0 0 1vw;
  }

  .card__text {
    margin: 2vh 0 1vh 1vw;
  }

  .card__link {
    margin: auto 0 1vh 1vw;
  }
}
