.ourteam {
  padding: 10vh 0;
  height: 100vh;
}

.container {
  width: 60%;
  max-width: 1450px;
  margin: 0 auto;
}

.team__header {
  color: var(--text-white);
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 104.96%; /* 73.472px */
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.team__description {
  width: 70%;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 36px */
  text-transform: uppercase;
  color: #01c5ff;
  background-image: -webkit-linear-gradient(315deg, #01c5ff 53%, #01e9f8 88%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.team {
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
  gap: 1vw;
}

.card {
  width: 65vw;
  max-width: 220px;
  max-height: 420px;
  background: linear-gradient(
    90deg,
    rgba(21, 45, 81, 0.7) 0%,
    rgba(43, 60, 94, 0.7) 100%
  );
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  transition: all 0.5s linear;
}

.card__img {
  width: 100%;
}

.card__title {
  color: var(--h3-color);
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 120%;
  font-style: normal;
  margin: 2vh 0 0 2vh;
  color: #01c5ff;
  background-image: -webkit-linear-gradient(315deg, #01c5ff 53%, #01e9f8 88%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.card__title + .card__title {
  margin-top: 0;
}

.card__text {
  color: var(--text-white);
  margin: 2vh 0 0 2vh;
  font-weight: 300;
  font-size: 1rem;
  font-style: normal;
}

.card__link {
  margin: auto 0 1vh 2vh;
}
