.contacts {
  padding: 15vh 0 0;
  height: 80vh;
}

.container {
  width: 60%;
  max-width: 1450px;
  margin: 0 auto;
}

.contacts__header {
  color: var(--text-white);
  font-size: 6.5vh;
  font-style: normal;
  font-weight: 500;
  line-height: 104.96%; /* 73.472px */
  text-transform: uppercase;
  margin-bottom: 10vh;
}

.offices {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.office {
  width: 280px;
  max-width: 65vw;
  height: 420px;
  background: linear-gradient(
    90deg,
    rgba(21, 45, 81, 0.7) 0%,
    rgba(43, 60, 94, 0.7) 100%
  );
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.office__img {
  width: 100%;
}

.office__subtitle {
  font-size: 3.25vh;
  font-style: normal;
  font-weight: 400;
  line-height: 116.5%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 1vh;
}

.office__title {
  color: var(--h3-color);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  line-height: 120%;
  font-style: normal;
  color: #01c5ff;
  background-image: -webkit-linear-gradient(315deg, #01c5ff 53%, #01e9f8 88%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1vh;
}

.office__location {
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #fff;
  display: flex;
  gap: 5px;
  margin-bottom: 1vh;
}

.office__contact {
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #fff;
  display: flex;
  gap: 5px;
}

.icon {
  width: 20px;
  height: 20px;
}

.content {
  padding: 1vh 1vw;
}

@media screen and (max-width: 800px) {
  .contacts {
    padding: 10vh 0 10vh 0;
    height: auto;
  }

  .container {
    width: 80%;
    max-width: 1450px;
    margin: 0 auto;
  }

  .content {
    padding: 2vh 5vw;
  }

  .offices {
    width: 80vw;
    display: grid;
    place-items: center;
  }

  .office {
    width: 100%;
    max-width: 100%;
  }

  .office__subtitle {
    font-size: 1.25rem;
    margin-bottom: 1vh;
  }

  .office__title {
    font-size: 1.5rem;
    margin-bottom: 1vh;
  }

  .office__location {
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: #fff;
    display: flex;
    align-items: flex-start;
    margin-bottom: 1vh;
  }

  .office__contact {
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: #fff;
  }

  .office + .office {
    margin-top: 3vh;
  }

  .contacts__header {
    font-size: 2rem;
    text-align: center;
  }
}

@media (min-width: 1024px) and (max-width: 1536px) {
  .contacts {
    padding: 25vh 0 0;
  }

  .container {
    width: 70%;
  }

  .office {
    width: 60vw;
    max-width: 230px;
    height: 350px;
    background: linear-gradient(
      90deg,
      rgba(21, 45, 81, 0.7) 0%,
      rgba(43, 60, 94, 0.7) 100%
    );
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .office__subtitle {
    font-size: 1.5rem;
  }

  .office__title {
    font-size: 1.5rem;
  }

  .office__location {
    font-size: 0.75rem;
  }

  .office__contact {
    font-size: 0.75rem;
  }
}
