.token {
  height: 40vh;
  margin: 10vh 0 0 0;
  padding: 7vh 0;
  display: flex;
  align-items: center;
  background: url("../../assets/token-bg.webp") no-repeat 50% 0%;
  background-size: cover;
  position: relative;
}

.container {
  width: 65%;
  max-width: 1450px;
  margin: 0 auto;
}

.token__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.token__header {
  display: flex;
  align-items: start;
}

.token__header span {
  text-transform: uppercase;
  font-size: 4vw;
  font-weight: 600;
  color: var(--text-white);
}

.token__header span + span {
  margin-left: 10px;
  font-weight: 200;
  color: #01c5ff;
}

.token__link {
  width: 15vw;
  height: 8vh;
  background-image: -webkit-linear-gradient(315deg, #01c5ff 53%, #01e9f8 88%);
  text-decoration: none;
  color: #111317;
  display: flex;
  justify-content: center;
  align-items: center;
}

.token__imgs {
  display: flex;
  position: relative;
  width: 100px;
}

.token__img-big {
  position: absolute;
  top: -5vh;
  right: -4vw;
  z-index: 20;
  width: auto;
  height: 30vh;
  animation: pulse infinite 1s ease-in-out alternate;
}

.token__img-small {
  position: absolute;
  left: 5vw;
  top: -25vh;
  width: auto;
  height: 20vh;
  animation: pulse infinite 1s ease-in-out alternate;
  animation-delay: 0.3s;
}

.tokens {
  display: none;
}

@media (min-width: 1080px) and (max-width: 1280px) {
  .token {
    margin-top: 10vh;
  }
}

@media screen and (max-width: 800px) {
  .token {
    height: 20vh;
    margin: 0;
    padding: 7vh 0;
    display: flex;
    align-items: center;
    background: url("../../assets/token-bg.webp") no-repeat 50% 0%;
    background-size: cover;
    position: relative;
  }

  .container {
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
  }

  .token__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
  }

  .token__header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .token__imgs {
    display: flex;
    position: relative;
    order: 3;
  }

  .token__img-big {
    position: static;
    width: auto;
    height: 12vh;
  }

  .token__animation {
    position: static;
    width: auto;
    height: 12vh;
    animation: roll-in 2s ease;
  }

  .token__img-small {
    display: none;
  }

  .token__link {
    width: 125px;
    height: 50px;
    font-size: 0.8rem;
  }
}

@keyframes roll-in {
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
}

@keyframes pulse {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.1);
  }
}

/* @media screen and (max-width: 800px) {
  .token {
    height: 100vh;
  }

  .token__info {
    flex-direction: column;
    height: 86vh;
  }

  .token__header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .token__header span {
    font-size: 15vw;
    letter-spacing: 10px;
    font-weight: 500;
    height: 7vh;
  }

  span + span {
    margin-left: 0;
  }

  .token__imgs {
    position: static;
    width: auto;
  }

  .token__img-big {
    display: none;
  }

  .token__img-small {
    display: none;
  }

  .tokens {
    display: block;
    width: auto;
    height: 40vh;
  }

  .token__link {
    width: 250px;
    height: 75px;
    font-size: 1.5rem;
  }
} */
